<header class="bg-red-500 text-white shadow-md fixed top-0 w-full z-10">
  <nav class="container mx-auto flex justify-between items-center py-3 px-4">
    
    <!-- Left Side: Logo + Nav Links (if logged in) -->
    <div class="flex items-center space-x-6">
      

      <% if (isLoggedIn) { %>
        <% if (user && user.userType === 'guest') { %>
        <!-- Navigation Links for Guest -->
        <!-- Navigation Links -->
         <!-- Logo -->
      <a href="/" class="text-2xl font-bold bg-red-400 px-3 py-1 rounded hover:bg-red-600 transition">
        airbnb
      </a>
        <a href="/homes" class="<%= currentPage === 'Home' ? 'bg-red-400' : 'hover:bg-red-600' %> px-3 py-2 rounded transition">
          Homes
        </a>
        <a href="/favourites" class="<%= currentPage === 'favourites' ? 'bg-red-400' : 'hover:bg-red-600' %> px-3 py-2 rounded transition">
          Favourites
        </a>
        <a href="/bookings" class="<%= currentPage === 'bookings' ? 'bg-red-400' : 'hover:bg-red-600' %> px-3 py-2 rounded transition">
          Bookings
        </a>
        <% } else { %>
        <!-- Navigation Links for Host -->
         <a href="/host/host-dashboard" class="<%= currentPage === 'host-homes' ? 'bg-red-400' : 'hover:bg-red-600' %> px-3 py-2 rounded transition">
          Dashboard
        </a>
        <a href="/host/host-home-list" class="<%= currentPage === 'host-homes' ? 'bg-red-400' : 'hover:bg-red-600' %> px-3 py-2 rounded transition">
          Host Homes
        </a>
        <a href="/host/add-home" class="<%= currentPage === 'addHome' ? 'bg-red-400' : 'hover:bg-red-600' %> px-3 py-2 rounded transition">
          Add Home
        </a>
      <% } %>
    </div>
    <% }%>

    <!-- Right Side: Auth Buttons -->
    <div class="flex items-center space-x-3">
      <% if (isLoggedIn) { %>
        <form action="/logout" method="POST">
          <button class="bg-red-400 px-4 py-2 rounded hover:bg-red-600 transition">
            Logout
          </button>
        </form>
        <a href="/profile" class="<%= currentPage === 'Profile' ? 'bg-red-400' : 'hover:bg-red-600' %> bg-red-400 px-4 py-2 rounded hover:bg-red-600 transition">
          Profile
        </a>
      <% } else { %>
        <a href="/signup" class="bg-red-400 px-4 py-2 rounded hover:bg-red-600 transition">
          Sign Up
        </a>
        <a href="/login" class="bg-red-400 px-4 py-2 rounded hover:bg-red-600 transition">
          Login
        </a>
      <% } %>
    </div>
  </nav>
</header>
